/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 247, 247);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 7rem;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Home */

.section-home {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.home {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.home-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.home-img {
  width: 105%;
  border-radius: 25px;
}

.about {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: rgb(254, 254, 254);
}

.about:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.about-content {
  padding: 3.2rem 4.8rem 4.8rem 1rem;
}

.about-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.about-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.about-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.about-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.about-img {
  padding: 25px 50px 0px 25px;
  width: 65%;
  border-radius: 25px;
}

/*watch our courses*/

.section-course {
  background-color: #ffffff;
  padding: 4.8rem 0 9.6rem 0;
}

.course {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.course-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.course-img {
  width: 105%;
}

/* Products */

.section-product {
  padding: 9.6rem 0;
  background-color: #fdf2e9;
}

.product-plan {
  border-radius: 11px;
  background-color: rgb(255, 204, 204);
  width: 75%;
}

.product-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.product-plan--complete {
  background-color: rgb(255, 204, 204);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.product-plan--complete::after {
  content: "Sale";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.product-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.product-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.product-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.product-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.product-learn {
  text-align: center;
  margin-top: 4.8rem;
}

/* Testimonials*/

.section-testimonials {
  background-color: #ffffff;
  padding: 4.8rem 0 9.6rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/**************************/
/* CTA SECTION */
/**************************/

.cta {
  display: block;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.heading-secondary {
  text-align: center;
  color: #45260a;
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: block;
  line-height: 1.2;
  text-align: center;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

/* FOOTER */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
